<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cliente.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @cliente.last_name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @cliente.rut %>
</p>

<p>
  <strong>Fono:</strong>
  <%= @cliente.fono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @cliente.comuna %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
