<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @proveedor.name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @proveedor.rut %>
</p>

<p>
  <strong>Fono:</strong>
  <%= @proveedor.fono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @proveedor.email %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @proveedor.comuna %>
</p>

<%= link_to 'Edit', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Back', proveedors_path %>
