<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @item.codigo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @item.descripcion %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @item.unit %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @item.stock %>
</p>

<p>
  <strong>Min stock:</strong>
  <%= @item.min_stock %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @item.precio %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @item.proveedor %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
